/**
 * CSS modules for the homepage
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 997px) {
  .heroBanner {
    padding: 8rem 0 6rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Feature section styles */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
